*
	margin: 0
	padding: 0
body
	font-size: 16px
	font-family: 'Arial'
	background: #ebebeb

h1,h2,h3,h4,h5,h6
	font-family: 'Arial'
	font-weight: normal

a
	text-decoration: none
	color: #BB1F35
	&:hover
		text-decoration: underline

.contenedor
	max-width: 1000px
	width: 90%
	margin: auto

.izquierda
	float: left

.derecha
	float: right

header
	color: #fff
	margin-bottom: 30px
	background: #BB1F35
	.contenedor
		overflow: hidden
	.logo
		max-width: 300px
		a
			color: #fff
			font-family: 'Arial'
			font-size: 28px
			line-height: 70px
			&:hover
				text-decoration: none
	.buscar
		display: inline-block
		position: relative
		margin-right: 15px
		input[type="text"]
			background: none
			border: 1px solid rgba(255,255,255,.7)
			color: rgba(255,255,255,.7)
			height: 30px
			padding: 0 10px
			padding-right: 32px
		input[type="text"]:hover,
		input[type="text"]:focus
			color: #fff
			border: 1px solid #fff
		.icono
			color: rgba(255,255,255,.7)
			position: absolute
			right: 0
			background: none
			border:none
			cursor: pointer
			padding: 6px
			font-size: 16px
			line-height: 16px
			&:hover
				color: #fff
	.menu
		display: inline-block
		ul
			list-style: none
			li
				display: inline-block
				line-height: 70px
				a
					color: #fff
					display: block
					padding: 0px 20px
					font-weight: bold
					&:hover
						background: #000
						text-decoration: none
					.icono
						margin-left: 15px

.post
	width: 100%
	background: #fff
	box-shadow: 0px 0px 5px rgba(0,0,0,.5)
	margin-bottom: 30px
	article
		.titulo
			font-family: 'Arial'
			font-size: 28px
			font-weight: normal
			line-height: 28px
			margin-bottom: 10px
			a
				color: #000
		.fecha
			color: #747474
			font-size: 14px
			margin-bottom: 20px
		.thumb
			margin-bottom: 20px
			img
				vertical-align: top
		.extracto
			font-size: 14px
			line-height: 20px
			margin-bottom: 20px
		.continuar
			color: #BB1f3S
			font-weight: bold